<div class="tabs text-center mb-3">
  <button
    class="btn btn-info mx-1"
    [class.active]="activeTabs() === 'Home'"
    (click)="activeTabs.set('Home')"
  >
    Home
  </button>
  <button
    class="btn btn-info mx-1"
    [class.active]="activeTabs() === 'Profile'"
    (click)="activeTabs.set('Profile')"
  >
    Profile
  </button>
  <button
    class="btn btn-info mx-1"
    [class.active]="activeTabs() === 'Notes'"
    (click)="activeTabs.set('Notes')"
  >
    Notes
  </button>
</div>

<div *ngIf="activeTabs() === 'Home'">
  <app-home
    [noteList]="noteList"
    [selectedNote]="selectedNote"
    [activeTabs]="activeTabs"
  ></app-home>
</div>

<div *ngIf="activeTabs() === 'Profile'">
  <h1>Welcome To Profile</h1>
  <app-registration></app-registration>
</div>

<div *ngIf="activeTabs() === 'Notes'">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <ng-container *ngIf="selectedNote() && selectedNote()?.path; else noNote">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a
                href="#"
                (click)="selectedNote.set(null); activeTabs.set('Home')"
                class="text-danger"
              >
                <i class="fas fa-arrow-left"></i> Back to Home <i class="fas fa-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item active text-success" aria-current="page">
              <i class="fas fa-file-alt"></i> {{ selectedNote()?.title }}
            </li>
          </ol>
        </nav>

        <p class="mb-3 text-warning fw-bold">
          <i class="fas fa-info-circle me-1"></i>
          {{ selectedNote()?.description }}
        </p>

        <div class="note-container">
          <div #markdownContainer class="markdown-scroll">
            <app-markdown-viewer
              [markdownFileName]="selectedNote()!.path"
              [attr.key]="selectedNote()!.path"
            ></app-markdown-viewer>
          </div>
        </div>

        <button
          class="fab"
          (click)="toggleFullscreen()"
          aria-label="Toggle Fullscreen"
        >
          <i class="fas fa-expand"></i>
        </button>
      </ng-container>
      <ng-template #noNote>
        <p class="text-muted">
          No note selected. Go to Home tab to choose one.
        </p>
      </ng-template>
    </div>
  </div>
</div>
